<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="color: green">HII DISHA!! 💚</h1>
    <h2>HOW ARE YOU DOING??</h2>
    <h3 style="color: green">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores at
      sapiente! Cum recusandae deserunt ipsa ullam voluptatem nesciunt, nostrum
      corrupti at, officiis, quidem laboriosam nulla aliquam nobis dolor vitae!
    </h3>
    <hr width="80%" height="10%" style="color: green" />
    <h4>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt
      cupiditate quisquam eaque. Ducimus sint eveniet rerum ex libero assumenda
      molestiae eos, modi sed labore praesentium ea ipsum repellat eius.
    </h4>
    <nav>
      <a href="/">HOMEPAGE</a> <br />
      <a href="/about">ABOUT</a>
    </nav>
  </body>
</html>
